{% extends 'doctor_base.html' %}

{% block title %}<title>Edit Profile</title>{% endblock %}

{% block sidebar %}
    <aside class="aside">
        <a href="{% url 'doctor:doctor_dashboard' %}" class="aside-item active">
            <i class="bi bi-person"></i>
            <span>Profile</span>
        </a>
        <a href="{% url 'doctor:doctor_requests' 'pending' %}" class="aside-item">
            <i class="ri-file-list-line"></i>
            <span>Requests</span>
        </a>
        <a href="../Dr_Board/Notifications.html" class="aside-item">
            <i class="fa-regular fa-bell"></i>
            <span>Notifications</span>
        </a>
        <a href="{% url 'doctor:my_blood_requests_pending' %>" class="aside-item">
            <i class="ri-hand-heart-line"></i>
            <span>Donation</span>
        </a>
        <a href="../Dr_Board/Wallet.html" class="aside-item">
            <i class="ri-wallet-3-line"></i>
            <span>Wallet</span>
        </a>
        <a href="../Dr_Board/Complaints.html" class="aside-item">
            <i class="ri-error-warning-line"></i>
            <span>Complaints</span>
        </a>
    </aside>
</aside>
{% endblock sidebar %}

{% block topbar_title %}
    <h2 class="topbar-title">Edit Profile</h2>
{% endblock topbar_title %}

{% block main %}
            <!-- Main Content -->
            <main class="main-content animate slide-up">

                <div class="edit-profile-wrapper">
                    <div class="edit-profile-card">
                        <!-- Header -->
                        <div class="edit-header">
                            <div>
                                <h2>Edit Professional Profile</h2>
                            </div>
                            <span class="profile-badge">Doctor Profile</span>
                        </div>
                    
                        <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Profile Photo Section -->
                        <div class="edit-photo-section">
                            <div class="edit-avatar">
                                <img src="{{ doctor.profile_pic.url }}" alt="{{ doctor.user.username }}" />
                            </div>
                            <div class="edit-photo-info">
                                <h4>{{doctor.user.username}}</h4>
                                <p>
                                    New profile pictures require admin approval and verification.
                                    Recommended size: 400x400px.
                                </p>
                                <div class="photo-buttons">
                                    <input type="file" id="profile-upload" style="display: none;" name="profile_pic" accept="image/*">
                                    <button type="button" class="btn-primary-edit" onclick="document.getElementById('profile-upload').click()">
                                        Change Photo
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Form -->
                        <div class="edit-form-grid">
                        
                            <div class="form-group-edit">
                                <label>Username</label>
                                <input name='username' type="text" value="{{doctor.user.username}}">
                            </div>
                        
                            <div class="form-group-edit">
                                <label>Contact Phone Number</label>
                                <div class="phone-wrapper-custom">
                                    <span class="country-code">+20</span>
                                    <input name="phone_number" type="tel" placeholder="1001234567" value="{{ doctor.phone_number}}">
                                </div>
                            </div>
                        
                            <div class="form-group-edit full-width">
                                <label>Bio / Professional Summary</label>
                                <textarea name="brief" rows="4" placeholder="Enter your bio here...">{{ doctor.brief }}</textarea>
                            </div>
                        
                            <div class="form-group-edit">
                                <label>Consultation Price</label>
                                <div class="price-input-wrapper">
                                    <input name="price" type="number" value="{{ doctor.price }}" min="0" step="0.01">
                                    <span>EGP</span>
                                </div>
                            </div>
                        
                            <div class="form-group-edit">
                                <label>Governorate / Location</label>
                                <select name="governorate">
                                    <option value="" disabled {% if not doctor.governorate %}selected{% endif %}>Select governorate</option>
                                    <option value="alexandria" {% if doctor.governorate == 'alexandria' %}selected{% endif %}>Alexandria</option>
                                    <option value="aswan" {% if doctor.governorate == 'aswan' %}selected{% endif %}>Aswan</option>
                                    <option value="asyut" {% if doctor.governorate == 'asyut' %}selected{% endif %}>Assiut</option>
                                    <option value="beheira" {% if doctor.governorate == 'beheira' %}selected{% endif %}>Beheira</option>
                                    <option value="beni_suef" {% if doctor.governorate == 'beni_suef' %}selected{% endif %}>Beni Suef</option>
                                    <option value="cairo" {% if doctor.governorate == 'cairo' %}selected{% endif %}>Cairo</option>
                                    <option value="dakahlia" {% if doctor.governorate == 'dakahlia' %}selected{% endif %}>Dakahlia</option>
                                    <option value="damietta" {% if doctor.governorate == 'damietta' %}selected{% endif %}>Damietta</option>
                                    <option value="fayoum" {% if doctor.governorate == 'fayoum' %}selected{% endif %}>Faiyum</option>
                                    <option value="gharbia" {% if doctor.governorate == 'gharbia' %}selected{% endif %}>Gharbia</option>
                                    <option value="giza" {% if doctor.governorate == 'giza' %}selected{% endif %}>Giza</option>
                                    <option value="ismailia" {% if doctor.governorate == 'ismailia' %}selected{% endif %}>Ismailia</option>
                                    <option value="kafr_el_sheikh" {% if doctor.governorate == 'kafr_el_sheikh' %}selected{% endif %}>Kafr El Sheikh</option>
                                    <option value="luxor" {% if doctor.governorate == 'luxor' %}selected{% endif %}>Luxor</option>
                                    <option value="matrouh" {% if doctor.governorate == 'matrouh' %}selected{% endif %}>Matrouh</option>
                                    <option value="minya" {% if doctor.governorate == 'minya' %}selected{% endif %}>Minya</option>
                                    <option value="monufia" {% if doctor.governorate == 'monufia' %}selected{% endif %}>Monufia</option>
                                    <option value="new_valley" {% if doctor.governorate == 'new_valley' %}selected{% endif %}>New Valley</option>
                                    <option value="north_sinai" {% if doctor.governorate == 'north_sinai' %}selected{% endif %}>North Sinai</option>
                                    <option value="port_said" {% if doctor.governorate == 'port_said' %}selected{% endif %}>Port Said</option>
                                    <option value="qalyubia" {% if doctor.governorate == 'qalyubia' %}selected{% endif %}>Qalyubia</option>
                                    <option value="qena" {% if doctor.governorate == 'qena' %}selected{% endif %}>Qena</option>
                                    <option value="red_sea" {% if doctor.governorate == 'red_sea' %}selected{% endif %}>Red Sea</option>
                                    <option value="sharqia" {% if doctor.governorate == 'sharqia' %}selected{% endif %}>Sharqia</option>
                                    <option value="sohag" {% if doctor.governorate == 'sohag' %}selected{% endif %}>Sohag</option>
                                    <option value="south_sinai" {% if doctor.governorate == 'south_sinai' %}selected{% endif %}>South Sinai</option>
                                    <option value="suez" {% if doctor.governorate == 'suez' %}selected{% endif %}>Suez</option>
                                </select>
                            </div>
                            <div class="form-group-edit full-width">
                                <label>Clinic Address</label>
                                <div class="address-wrapper-custom full-width">
                                    <i class="bi bi-geo-alt"></i>
                                    <input name="address" type="text" placeholder="Street, Building, Apartment" value="{{ doctor.address }}">
                                </div>
                            </div>
                        </div>
                    
                        <!-- Footer Buttons -->
                        <div class="edit-footer">
                            <button class="btn-light-edit">Cancel Changes</button>
                            <button class="btn-primary-edit" type="submit">Save Changes</button>
                        </div>
                    </div>
            
                </div>

            </main>
        </div>
    </div>            
{% endblock %}
{% block script %}{% endblock script %}