{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Requests</title>

    <link rel="stylesheet" href="{% static 'Css/Dr_Board.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

</head>
<body>  
    <div class="dashboard">

        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <div class="logo">
                    <span class="logo-icon">
                        <i class="fas fa-user-md"></i>
                    </span>                
                    <div>
                        <h2>TechCare</h2>
                        <p>Medical Portal</p>
                    </div>
                    <button class="sidebar-toggle">
                        <i class="bi bi-layout-sidebar-inset-reverse"></i>
                    </button>
                </div>
            </div>

            <aside class="aside">
                <a href="../Dr_Board/Profile.html" class="aside-item">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
                <a href="{% url 'doctor:doctor_requests' doctor.user.slug 'pending' %}" class="aside-item">
                    <i class="ri-file-list-line"></i>
                    <span>Requests</span>
                </a>
                <a href="../Dr_Board/Notifications.html" class="aside-item">
                    <i class="fa-regular fa-bell"></i>
                    <span>Notifications</span>
                </a>
                <a href="../Dr_Board/Wallet.html" class="aside-item">
                    <i class="ri-wallet-3-line"></i>
                    <span>Wallet</span>
                </a>
                <a href="../Dr_Board/Complaints.html" class="aside-item">
                    <i class="ri-error-warning-line"></i>
                    <span>Complaints</span>
                </a>
            </aside>
        </aside>

        <div style="flex:1; display:flex; flex-direction:column;">
        
            <!-- Top Navbar -->
            <div class="topbar">
                <h2 class="topbar-title">Requests</h2>

                <div class="topbar-right">
                    <div class="topbar-icon" id="notificationBtn">
                        <i class="fa-regular fa-bell"></i>
                        

                        <div class="inbox" id="notificationBox">
                            <div class="notification-item" onclick="window.location.href='Notifications.html'">
                                <img src="https://randomuser.me/api/portraits/men/32.jpg">
                                <div class="notification-content">
                                    <h4>Ahmed Ali</h4>
                                    <p>New Consultation Request</p>
                                </div>
                            </div>
                            <!-- <hr> -->
                            <div class="notification-item" onclick="window.location.href='Notifications.html'">
                                <img src="https://randomuser.me/api/portraits/women/12.jpg">
                                <div class="notification-content">
                                    <h4>Sara Mohamed</h4>
                                    <p>Appointment Confirmed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="line">
                    <div class="topbar-profile" onclick="window.location.href='Profile.html'">
                        <div class="topbar-user-info">
                            <h4>Dr. Sarah Mansour</h4>
                            <span>Cardiologist</span>
                        </div>
                        <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="Doctor">
                    </div>
                </div>
            </div>

            <!-- Main Content -->
            <main class="main-content">
                
                <div class="requests-sticky">
                    <div class="requests-header">
                        <div class="header-text">
                            <h2>Requests</h2>
                            <p>Manage incoming consultation requests</p>
                        </div>
                        <button class="filter-button">
                            <b><i class="bi bi-funnel"></i> Filter</b>
                        </button>
                    </div>

                    <div class="tabs-navigation">
                        <button class="tab-link active" data-status="pending" onclick="window.location.href='{% url 'doctor:doctor_requests' doctor.user.slug 'pending' %}'">Pending</button>
                        <button class="tab-link" data-status="accepted" onclick="window.location.href='{% url 'doctor:doctor_requests' doctor.user.slug 'accepted' %}'">Accepted</button>
                        <button class="tab-link" data-status="done" onclick="window.location.href='{% url 'doctor:doctor_requests' doctor.user.slug 'completed' %}'">Done</button>
                    </div>
                </div>
                <div class="requests-grid">

                {% for request in completed %}
                    <div class="request-card-item">
                        <!-- Top Section -->
                        <div class="card-top-section">
                            <div class="patient-meta">
                                <div class="patient-avatar-mini">
                                    <i class="bi bi-person-circle"></i>
                                </div>
                            
                                <div class="patient-name-info">
                                    <h3>{{ request.patient.user.first_name }} {{ request.patient.user.last_name }}</h3>
                                    <p>
                                        <i class="bi bi-calendar3"></i> {{ request.date }}
                                        &nbsp; • &nbsp;
                                        <i class="bi bi-clock"></i> {{ request.time }}  
                                    </p>
                                </div>
                            </div>
                            <span class="status-pill Approved">DONE</span>
                        </div>
                    
                        <!-- Address -->
                        <div class="info-group location-info">
                            <p>
                                <i class="bi bi-geo-alt"></i>
                                {{ request.patient.get_governorate_display }} / {{ request.patient.address }}
                            </p>
                        </div>
                        <hr style="margin:15px 0; border:1px solid #F0F4F8;">
                    
                        <!-- Condition -->
                        <div class="Condition">
                            <label>Condition</label>
                            <span class="condition-pill">Chest Pain</span>
                        </div>
                        <div class="description-box">
                            {{ request.disease_description }}
                        </div>
                    
                        <!-- Price Section -->
                        <div class="price-summary">
                            <div>
                                <label>Total Price</label>
                                <p class="total-price">{{ request.total_price }} EGP</p>
                            </div>
                            <div class="net-income-box">
                                <label>Net Income</label>
                                <p class="net-income">{{ request.net_income }} EGP</p>
                            </div>
                        </div>
                    
                        <!-- Footer Actions -->
                        <div class="card-footer-actions details-footer">
                            <button class="btn-link">
                                <i class="bi bi-eye"></i> View Details
                            </button>
                            <button class="btn-action edit">
                                <i class="bi bi-download"></i> Download Report
                            </button>
                        </div>
                    </div>

                </div>
                
            </main>
        </div>

    </div>
</body>
    <script src="{% static 'JS/Board.js' %}"></script>
</html>